@use 'variables'

@mixin align-center 
    display: flex 
    align-items: center
    justify-content: center

@mixin card-format 
    width: 25%
    height: 100%
    background-size: cover
    display: flex 
    align-items: flex-end

@mixin content-card
    display: flex 
    flex-direction: column
    width: 100%
    color: variables.$pure-white
    padding: 30px

@mixin button-card
    margin-top: 10px
    padding: 15px
    text-align: left
    color: variables.$ligh-grey
    background-color: transparent
    border: 1px solid white
    border-bottom: none
    border-right: none 
    border-left: none
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between

@mixin button 
    padding: 15px
    color: variables.$pure-white
    background-color: transparent
    text-transform: uppercase
    border: none

@mixin tablet
    @media(max-width: 768px)
        @content

    
@mixin mobile
    @media(max-width: 380px)
        @content